body {
    margin: 0;
    color: rgb(44, 41, 44);
    background-color: rgb(247, 239, 247);
}

header {
    background-color: rgb(141, 141, 236);
    color: aliceblue;
    text-align: center;
    padding: 1.2rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    width: 100%;
}

main {
    text-align: center;
}

ul { /* half of the css code for game configuartion portion is in here, half is in the configuartion.css file */
    display: grid; /*probably shouldve just used flexbox instead of grid here, oh well ¯\_(ツ)_/¯  pretty sloppy css code but I'm being lazy*/
    padding-left: 0;
    width: 500px;
    gap: 2rem;
    margin: 12px auto;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    text-align: center;
}

li {
    background-color: rgb(215, 215, 253);
    box-shadow: 2px rgba(164, 164, 197, 0.4);
    border-radius: 4px;
}

li h3 {
    color: rgb(113, 25, 196);
}

button {
    font: inherit;
}

.btn {
    display: inline-block;
    margin: 1rem auto;
    padding: 6px 14px;
    border: transparent;
    border-radius: 4px;
    background-color: transparent;
    color: rgb(113, 25, 196);
    padding-bottom: 8px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(113, 25, 196, 0.1);
}

.btn-style {
    display: inline-block;
    margin: 1rem auto;
    padding: 6px 14px;
    background-color: rgb(115, 152, 255);
    color: aliceblue;
    border: none;
    box-shadow: 1px rgba(0, 0, 0, 0.4px);
    border-radius: 4px;
}

.btn-style:hover {
    background-color: rgb(84, 113, 192);
    cursor: pointer;
}

